/node_modules
/public/hot
/public/storage
/public/media
/storage/*.key
/storage/logs
/storage/media-library
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
